In [1]:
import pandas as pd
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from datetime import datetime
import numpy as np

In [2]:
df = pd.read_csv('Bitcoin_tweets.csv')
df.head()

C:\Users\frank\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3343: DtypeWarning: Columns (5,6,7,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,DeSota Wilson,"Atlanta, GA","Biz Consultant, real estate, fintech, startups...",2009-04-26 20:05:09,8534.0,7605,4838,False,2021-02-10 23:59:04,Blue Ridge Bank shares halted by NYSE after #b...,['bitcoin'],Twitter Web App,False
1,CryptoND,NaN,üòé BITCOINLIVE is a Dutch platform aimed at inf...,2019-10-17 20:12:10,6769.0,1532,25483,False,2021-02-10 23:58:48,"üòé Today, that's this #Thursday, we will do a ""...","['Thursday', 'Btc', 'wallet', 'security']",Twitter for Android,False
2,Tdlmatias,"London, England","IM Academy : The best #forex, #SelfEducation, ...",2014-11-10 10:50:37,128.0,332,924,False,2021-02-10 23:54:48,"Guys evening, I have read this article about B...",NaN,Twitter Web App,False
3,Crypto is the future,NaN,I will post a lot of buying signals for BTC tr...,2019-09-28 16:48:12,625.0,129,14,False,2021-02-10 23:54:33,$BTC A big chance in a billion! Price: \487264...,"['Bitcoin', 'FX', 'BTC', 'crypto']",dlvr.it,False
4,Alex Kirchmaier üá¶üáπüá∏üá™ #FactsSuperspreader,Europa,Co-founder @RENJERJerky | Forbes 30Under30 | I...,2016-02-03 13:15:55,1249.0,1472,10482,False,2021-02-10 23:54:06,This network is secured by 9 508 nodes as of t...,['BTC'],Twitter Web App,False

In [3]:
df.drop(['user_name','user_location','user_description','user_created','source','is_retweet','user_friends']
       ,axis='columns'
       ,inplace = True)

In [4]:
df.head()

,user_followers,user_favourites,user_verified,date,text,hashtags
0,8534.0,4838,False,2021-02-10 23:59:04,Blue Ridge Bank shares halted by NYSE after #b...,['bitcoin']
1,6769.0,25483,False,2021-02-10 23:58:48,"üòé Today, that's this #Thursday, we will do a ""...","['Thursday', 'Btc', 'wallet', 'security']"
2,128.0,924,False,2021-02-10 23:54:48,"Guys evening, I have read this article about B...",NaN
3,625.0,14,False,2021-02-10 23:54:33,$BTC A big chance in a billion! Price: \487264...,"['Bitcoin', 'FX', 'BTC', 'crypto']"
4,1249.0,10482,False,2021-02-10 23:54:06,This network is secured by 9 508 nodes as of t...,['BTC']

In [5]:
new_date = []
for date in df['date']:
    try:
        date = datetime.strptime(date, "%Y-%m-%d %H:%M:%S")
        new_date.append(date)
    except:
        new_date.append(np.nan)

In [6]:
df['date'] = new_date

In [7]:
df.dropna(subset=['date'],inplace = True)

In [8]:
df

,user_followers,user_favourites,user_verified,date,text,hashtags
0,8534.0,4838,False,2021-02-10 23:59:04,Blue Ridge Bank shares halted by NYSE after #b...,['bitcoin']
1,6769.0,25483,False,2021-02-10 23:58:48,"üòé Today, that's this #Thursday, we will do a ""...","['Thursday', 'Btc', 'wallet', 'security']"
2,128.0,924,False,2021-02-10 23:54:48,"Guys evening, I have read this article about B...",NaN
3,625.0,14,False,2021-02-10 23:54:33,$BTC A big chance in a billion! Price: \487264...,"['Bitcoin', 'FX', 'BTC', 'crypto']"
4,1249.0,10482,False,2021-02-10 23:54:06,This network is secured by 9 508 nodes as of t...,['BTC']
...,...,...,...,...,...,...
1950238,90552.0,666.0,False,2021-12-11 20:09:54,[SCAN RESULTS - 4h]\n\nExchange: #KuCoin\n\nTo...,"['KuCoin', 'BTC', 'USDT', 'Binance', 'DYOR']"
1950239,96.0,2.0,False,2021-12-11 20:09:52,#BTC is now at $48522.45,['BTC']
1950240,78.0,1443.0,False,2021-12-11 20:09:35,Very interesting TA from @MMCrypto for #BTC ht...,['BTC']
1950241,9280.0,3718.0,False,2021-12-11 20:09:29,Something interested I noticed is #ETH ( Pink ...,"['ETH', 'BTC']"
1950242,773.0,17103.0,False,2021-12-11 20:09:28,@blockchainedbb #BTC soon to be delisted along...,"['BTC', 'ETH']"

In [9]:
df.set_index(['date'],inplace =True)

In [10]:
df.set_index(df.index.round(freq='H'),inplace = True)

In [13]:
df[['text']].sort_index()

                                                                  text
date
2021-02-05 11:00:00  üîÑ Prices update in $USDT (1 hour):\n\n$BTC - 3...
2021-02-05 11:00:00  The believe is still strong, anything can happ...
2021-02-05 11:00:00  WARNING! POWEREARN - OUTSIDE PROJECT - FAST SC...
2021-02-05 11:00:00  PENN ASIA IS DEVELOPING A DIGITAL ASSET CALLED...
2021-02-05 11:00:00  ‚¨áÔ∏è‚¨áÔ∏è $BTC SELLING PRESSURE ALERT üìâ Price tradi...
...                                                                ...
2021-12-12 00:00:00  IOG Has Already Started Process of Making Card...
2021-12-12 00:00:00              Buy #Bitcoin and take profit at 100k$
2021-12-12 00:00:00  @airdropinspect Awesome project, this project ...
2021-12-12 00:00:00  üîºüîº ‚Çø1 = $49,470 (23:33 UTC)\n$BTC prices conti...
2021-12-12 00:00:00  $BTC #Bitcoin Bull case, 3 peaks and Domed hou...

[1950228 rows x 1 columns]

In [17]:
txt = list(df['text'].values)

In [19]:
def list_to_text(x:list):
    ans = ''
    for i in x:
        ans += i
    return ans

In [31]:
text = str(txt)

In [ ]:
text.replace('[','')
text.replace(']','')
text.replace(',','')

In [ ]:
import matplotlib.pyplot as plt
from wordcloud import WordCloud

#words_cloud = tokenized_words_df.T.sum(axis=1)

Cloud = WordCloud(background_color="white", max_words=50).generate(corpus)

plt.figure(figsize = (8, 8), facecolor = None)
plt.imshow(Cloud)
plt.axis("off")
plt.tight_layout(pad = 0)
 
plt.show()

In [13]:
text = {}
for date in (df.index.unique()):
    string = list_to_text(df.loc[date]['text'].values)
    text[date] = string

In [14]:
X = pd.DataFrame()
X['text'] = pd.DataFrame(text.values(),index=text.keys())

In [15]:
X

                                                                  text
2021-02-11 00:00:00  Blue Ridge Bank shares halted by NYSE after #b...
2021-02-10 23:00:00  Christmas came early! üéÑüéÅ‚ùÑÔ∏è‚õÑÔ∏è\n\nThe Restore To...
2021-02-10 22:00:00  Check me out! \n\n#ZRX #0x #cryptoart #cryptot...
2021-02-10 21:00:00  1 Bitcoin ( #BTC )\nDollar: 44,656.34$ \n\n1 B...
2021-02-10 20:00:00  Here we fucking GOOOOO $ICX #ICON #ICX #btc #b...
...                                                                ...
2021-12-12 00:00:00  Crypto Prices (USD/‚Çø)\n\nBitcoin ‚û® $49361.3809...
2021-12-11 23:00:00  This is how everyone who doesn't join our proj...
2021-12-11 22:00:00  #Cryptocurrencies Current Prices:\n\n#Bitcoin\...
2021-12-11 21:00:00  Breaking twitter handle of PM @narendramodi ha...
2021-12-11 20:00:00  NEED a JOB?\nSign up now https://t.co/rMErDK45...

[2048 rows x 1 columns]

In [16]:
def preprocess_text(text):
    import re
    reg = re.compile(r'[a-z]')
    # Tokenise words while ignoring punctuation
    #tokeniser = RegexpTokenizer(r'\w+')
    tokens = text.split()
    
    # Lowercase and lemmatise 
    lemmatiser = WordNetLemmatizer()
    lemmas = [lemmatiser.lemmatize(token.lower(), pos='v') for token in tokens if reg.match(token) and token.isalpha()]
    
    # Remove stopwords
    keywords= [lemma for lemma in lemmas if lemma not in stopwords.words('english')]
    return keywords

In [31]:
X.copy()

                                                                  text
2021-02-11 00:00:00  Blue Ridge Bank shares halted by NYSE after #b...
2021-02-10 23:00:00  Christmas came early! üéÑüéÅ‚ùÑÔ∏è‚õÑÔ∏è\n\nThe Restore To...
2021-02-10 22:00:00  Check me out! \n\n#ZRX #0x #cryptoart #cryptot...
2021-02-10 21:00:00  1 Bitcoin ( #BTC )\nDollar: 44,656.34$ \n\n1 B...
2021-02-10 20:00:00  Here we fucking GOOOOO $ICX #ICON #ICX #btc #b...
...                                                                ...
2021-12-12 00:00:00  Crypto Prices (USD/‚Çø)\n\nBitcoin ‚û® $49361.3809...
2021-12-11 23:00:00  This is how everyone who doesn't join our proj...
2021-12-11 22:00:00  #Cryptocurrencies Current Prices:\n\n#Bitcoin\...
2021-12-11 21:00:00  Breaking twitter handle of PM @narendramodi ha...
2021-12-11 20:00:00  NEED a JOB?\nSign up now https://t.co/rMErDK45...

[2048 rows x 1 columns]

In [26]:
sample = X.copy()

In [27]:
import time

In [28]:
start = time.time()
# Create an instance of TfidfVectorizer
vectoriser = TfidfVectorizer(analyzer=preprocess_text)
# Fit to the data and transform to feature matrix
sample = vectoriser.fit_transform(sample['text'])
# Convert sparse matrix to dataframe
sample = pd.DataFrame.sparse.from_spmatrix(sample)
# Save mapping on which index refers to which words
col_map = {v:k for k, v in vectoriser.vocabulary_.items()}
# Rename each column using the mapping
for col in sample.columns:
    sample.rename(columns={col: col_map[col]}, inplace=True)
end   = time.time()

In [35]:
len(col_map)

78962

In [29]:
end - start

11460.071541547775

In [30]:
sample.head()

,aa,aaa,aaaa,aaaaaaaaaahhhhllllooooonnnnn,aaaaaalllllllll,aaaaaany,aaaaall,aaaaalll,aaaahh,aaaand,...,zza,zzkenn,zznuzz,zzz,zzzif,zzzz,zzzzz,zzzzzbest,zzzzzzbuy,z≈Çoty
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
11460.071541547775/60/60

3.183353205985493